{
  "geminiApiKey": "",
  "geminiApiKey2": "",
  "geminiApiKey3": "",
  "geminiImageApiKey": "",
  "geminiApiKeys": [],
  "emailUser": "",
  "emailAppPassword": "",
  "smtpHost": "smtp.gmail.com",
  "smtpPort": 465,
  "groqApiKey": "",
  "xaiApiKey": "",
  "deepseekApiKey": "",
  "openrouterApiKey": "",
  "nvidiaApiKey": "",
  "mistralApiKey": ""
}